#home {
  display: flex;
  min-height: calc(100vh - 91px);
  position: relative;
}

#cta {
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 28px;
  margin-top: 5%;
}

#cta .title {
  font-size: 4rem;
  color: #292f53;
}

#cta .title span {
  color: #8b3eff;
}

#cta .description {
  font-size: 1.2rem;
}

#cta_buttons {
  display: flex;
  gap: 24px;
}

#cta_buttons a {
  text-decoration: none;
  color: #292f53;
}

#phone_button {
  display: flex;
  gap: 8px;
  align-items: center;
  background-color: white;
  padding: 8px 14px;
  font-weight: 500;
  box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

#phone_button button {
  box-shadow: none;
}

#banner {
  display: flex;
  align-items: start;
  justify-content: end;
  width: 70%;
  z-index: 2;
}

#banner img {
  display: block;
  max-width: 100%;
  height: auto;
  transform: translate(40px, -30px);
  transition: transform 0.18s ease;
}

.shape {
  background-color: #c7baf79d;
  width: 50%;
  height: 100%;
  position: absolute;
  border-radius: 40% 30% 0% 20%;
  top: 0;
  right: 0;
  z-index: 1;
}

@media screen and (max-width: 1170px) {
  #home {
    min-height: 100%;
    padding-top: 0px;
  }

  #banner,
  #banner img,
  #home .shape {
    display: none;
  }

  #cta {
    width: 100%;
    align-items: center;
    text-align: center;
  }
}

@media screen and (max-width: 450px) {
  #phone_button button {
    display: none;
  }
  .card-wrapper {
    margin: 0 10px 25px;
  }
  .card-wrapper .swiper-slide-button {
    display: none;
  }
}

#carrossel {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(#eceffe #ced6fb);
}

.card-wrapper {
  max-width: 1100px;
  margin: 0 auto 35px;
  padding: 20px 60px 50px;
  overflow: hidden;
  position: relative;
}

.card-list .card-item {
  list-style: none;
  display: flex;
  height: auto;
}

.card-list .card-item .card-link {
  user-select: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  background: white;
  padding: 18px;
  border-radius: 12px;
  text-decoration: none;
  border: 2px solid transparent;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
  transition: 0.4s ease;
  box-sizing: border-box;
}

.card-list .card-item .card-link:active {
  cursor: grabbing;
}

.card-list .card-item .card-link:hover {
  border-color: #8b3eff;
}

.card-list .card-link .card-image {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 10px;
}

.card-list .card-link .badge {
  color: #8b3eff;
  margin: 16px 0 18px;
  padding: 8px 16px;
  font-size: 0.95rem;
  font-weight: 500;
  background: #c7baf79d 18px;
  width: fit-content;
  border-radius: 50px;
}

.card-list .card-link .card-title {
  font-size: 1.19rem;
  color: black;
  font-weight: 600;
}

.card-list .card-link .card-button {
  height: 35px;
  width: 35px;
  color: #8b3eff;
  border-radius: 50%;
  margin: 30px 0 5px;
  background: none;
  cursor: pointer;
  border: 2px solid #8b3eff;
  transform: rotate(-45deg);
  transition: all 0.4s ease;
}

.card-list .card-link:hover .card-button {
  color: white;
  background: #8b3eff;
}

.card-wrapper .swiper-pagination {
  bottom: 0px !important;
  padding-bottom: 20px;
}

.card-wrapper .swiper-pagination-bullet {
  height: 13px;
  width: 13px;
  opacity: 0.5;
  background: #8b3eff;
}

.card-wrapper .swiper-button-prev {
  left: 0;
}

.card-wrapper .swiper-button-next {
  right: 0;
}

.card-wrapper .swiper-pagination-bullet-active {
  opacity: 1;
}

.card-wrapper .swiper-slide-button {
  color: #8b3eff;
  margin-top: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  width: 40px;
  height: 40px;
}
